html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'Outfit', sans-serif;}

.container {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.button-container {

  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.button-container h1 {
    color: #FFF;
    /* text-align:center; */
    font-family: Outfit;
    font-size: 5.625rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.188rem;
    text-transform: lowercase;
    /* margin-left: 1.2em;
    margin-right: 1.2em; */
    margin-bottom: 1.5%;
}
.button-container p {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: Outfit;
    font-size: 1.563rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom:5%;
}

.button {
    width: 31.25rem;
    height: 6.25rem;
    background: white;
    color: black;
    border-radius: 6.25rem;
    padding: 12px 2px;
    border: none;
    cursor: pointer;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
}

svg {
    padding-left: 5%;
    transform: rotate(-1.005deg);
    fill: black;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}
.containerBottom {
    background: linear-gradient(
    270deg,
    #8D41AA 0%,
    #BA356C 17.71%,
    #F22C30 42.19%,
    #F8573A 71.88%,
    #FCBB57 100%
  );
  background-position: bottom;
  background-size: 100% 5px; 
  background-repeat: no-repeat;
}
#footer {
    max-width: 80%;
    margin-top: 10%;
    padding-bottom: 5%;
}
#footer h2 {
    color: rgba(255, 255, 255, 0.75);
    font-family: Outfit;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: none;
    margin-top: 3px;
    margin-bottom: 0;
}
@media (max-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 768px;
        align-items: center;

    }
    .button-container{
        justify-content: flex-start;
        max-width:1000px;
        height: calc(100vh - 100px);
    }
    .button {
        width: 20.25rem;
        height: 5.25rem;
        font-size: 25px;
    }
    #footer h2 {
        font-size: 38px;
    }
    .button-container h1 {
        font-size: 4.5rem;
    }
    .button {
        margin-top: 65px;
    }
}