@tailwind base;
@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}
@tailwind components;
@tailwind utilities;

.gradient-custom {
    background: linear-gradient(
      270deg,
      #751c87 0%,
      #8D41AA 10%,
      #BA356C 20%,
      #F22C30 35%,
      #F8573A 60%,
      #FCBB57 100%
    );
  }

.gradient-custom-onHover:hover {
  background: linear-gradient(
      270deg,
      #751c87 0%,
      #8D41AA 10%,
      #BA356C 20%,
      #F22C30 35%,
      #F8573A 60%,
      #FCBB57 100%
    );
  
  }



  .gradient-custom-border {
  border-image: linear-gradient(
    270deg,
    #751c87 0%,
    #8D41AA 10%,
    #BA356C 20%,
    #F22C30 35%,
    #F8573A 60%,
    #FCBB57 100%
  );
  border-image-slice: 1;
}






.cardsBg {
    background: #191919;
}
    
  