.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}

html,
body {
  background-color: #06090e;
  background-size: 70px 70px;
  background-image: linear-gradient(
      to right,
      rgb(23, 33, 54) 0.5px,
      transparent 0.5px
    ),
    linear-gradient(to bottom, rgb(23, 33, 54) 0.5px, transparent 0.5px);
}
