/* Card.css */
.card {
  max-width: 90%;
    width: 360px;
    min-height: 215px;
    margin-bottom: 2%;
    padding:3%;
    border-radius: 10px;
    background: #191919;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .card a {
    text-decoration: none;
    margin-bottom: auto;
    margin-top: auto;
  }

  @keyframes gradientChange {
    0% {
      background: #191919;
    }
    100% {
      background: radial-gradient(
        circle at top left,
        #8d41aa 0%,
        #ba356c 34.38%,
        #f22c30 60.94%,
        #f8573a 79.69%,
        #fcbb57 100%
      );
    }
  }
  
  .card:hover {
    animation: gradientChange 0.15s ease-in-out forwards;
    transform: scale(1.05);

  }
  .top {
    display: flex;
    justify-content: space-between;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
  }
.card h2 {
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
  margin-bottom: auto;
  margin-left: 0;
  padding-bottom: 10%;
}
#startTime {
  font-size: 20px;
}
.card p {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Outfit', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: lowercase;
}

.clip{
  height:30px;
}

@media (max-width: 900px) {
  .card {
      /* width: 340px; */
      margin-bottom: 5%;
  }
}

.lower_button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;  
}

@media (max-width:768px){

  .clip{
    background:none;
    width:10%;

  }

  .clip .share-button{
    width:20%;
  }
  .clip .share-button svg{
    width:27px;
  }
}
