h2 {
  color: #fff;
  font-family: Outfit;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 3%;
}
.allContests {
  margin: 2% auto;
}
@media (max-width: 1067px) {
  .allContests h2 {
    text-align: center;
  }
}
