
.share-button-container {
  position: relative;
  display: inline-block;
  height: 100px;

}

.share-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  font-size: 13px;
  white-space: nowrap;
}

.share-button:hover .tooltip {
  visibility: visible;
}
span p{
  display:inline;
  position:relative;
  bottom:6px;
}
@media (max-width:768px) {
    .ic-inner-lower {
      align-self: flex-start;
  }



}