.ellipse {
  position: absolute;
  top: 0;
  right: 0;
  width: 438px;
  height: 420px;
  flex-shrink: 0;
  border-radius: 438px;
  background: linear-gradient(180deg, #8d41aa 0%, #ba356c 25%);
  filter: blur(5000px);
  animation-name: move3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 0;
}

@keyframes move {
  0% {
    right: 5%;
  }
  25% {
    width: 438px;
    top: 25%;
    right: 50%;
  }
  50% {
    top: 0%;
    right: 100%;
  }
  75% {
    width: 0;
    top: 0;
    right: 0;
  }
  100%{
    top:0;
    right: 0;
  }
}

@keyframes move2 {
    0% {
        width: 0;
        top:0;
      right: 0;
    }
    20%{
        width: 400px;
        top:25%;
    }
    40% {
        width: 500px;
      top: 50%;
      right: 30%;
    }
    60%{
        width: 400px;
        top:75%;
    }
    80% {
      bottom: 0%;
      left: 0%;
    }
    90% {
      width: 0;
      top: 0;
      right: 0;
    }
    100%{
        width: 0;
      top:0;
      right: 0;
    }
  }
  
@keyframes move3 {
    0%{
        width: 0;
        top: 0;
        right: 0;
    }
    50%{
        width: 438px;
        top: 40%;
        right: 50%;
    }
    100%{
        width: 0;
        top:100%;
        right: 100%;
    }
}