.filter-div {
  align-self: center;
  background-color: #1e1e1e;
  width: 93%;
  padding: 1%;
  position: relative;
  top: 0;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 2s ease-in; 
}

.filter-div.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  width: fit-content;
  background: rgba(27, 26, 26, 0.9);
  border-color: rgba(32, 33, 35, 0.5);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 2s ease-in; 
}

.filter {
  background-color: #d9d9d9;
  border-radius: 18px;
}

.contests-container {
  /* height: 100vh; */
  z-index: 1;
  /* margin-right: 0;
    padding-right: 0; */
}

.platform-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 2s ease-in; 
}

.platform-container.fixed {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 2s ease-in; 
}
@media (max-width: 768px) {
  .filter-div {
    display: flex;
    justify-content: center;
  }
  .MuiSelect-icon {
    width: 2em !important;
  }
}
.MuiSelect-iconOpen {
  padding-left: 0% !important;
  padding-right: 5%;
}
.MuiChip-label {
  overflow: visible !important;
}
