.filter-div {
    align-self: center;
    background-color: #1E1E1E;
    width: 90%;
    border-radius: 200px;
    padding: 1%;
    position: sticky;
    top: 0;
}

.filter{
    background-color: #D9D9D9;
    border-radius: 200px;
}
.contests-container {
    /* height: 100vh; */
    z-index: 1;
    /* margin-right: 0;
    padding-right: 0; */
  }