button {
  border: 1px solid #6ab1ff;
  background: #1584ff;
  color: #fff;
  border-radius: 12px;
  font-size: 20px;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}
