html,
body {
  background-color: #06090e;
  background-size: 70px 70px;
  background-image: linear-gradient(
      to right,
      rgb(23, 33, 54) 0.5px,
      transparent 0.5px
    ),
    linear-gradient(to bottom, rgb(23, 33, 54) 0.5px, transparent 0.5px);
}

.dynamicprofile {
  border: 1px solid #1584ff;
  background: linear-gradient(180deg, #12274f 0%, rgba(28, 27, 64, 0.3) 100%);
}

.contestlist {
  background: linear-gradient(180deg, #101025 0%, rgba(16, 16, 37, 0.46) 100%);
  border-top: solid 0.5px #abaaff;
}

.indicator {
  position: relative;
  width: 50px;
  height: 50px;

  transform: rotate(45deg);
}
.indicator span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  animation: animate 1s linear infinite;
  &:nth-child(1) {
    top: -30px;
    left: -30px;
    animation-delay: 0s;
  }
  &:nth-child(2) {
    top: -15px;
    left: -15px;
    animation-delay: 0.2s;
  }
  &:nth-child(3) {
    top: 0;
    left: 0;
    animation-delay: 0.4s;
  }
  &:nth-child(4) {
    top: 15px;
    left: 15px;
    animation-delay: 0.6s;
  }
  &:nth-child(5) {
    top: 30px;
    left: 30px;
    animation-delay: 0.8s;
  }
}

@keyframes animate {
  0% {
    border-color: #fff;
    transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    transform: translate(15px, 15px);
  }
  20.1%,
  100% {
    border-color: rgb(21, 132, 255);
  }
}

.title-container {
  line-height: 1;
  letter-spacing: -0.06em;
}

.develop {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.develop:before {
  content: "Compete.";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animated-develop,
.develop:before {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.animated-develop {
  filter: contrast(1.2);
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  position: relative;
  animation: animationFade-develop 8s ease infinite normal none running;
  animation-delay: 0s;
  z-index: 1;
}

.develop-shadow {
  position: absolute;
  bottom: 50px;
  filter: blur(50px);
  height: 20px;
  width: 100%;
  z-index: 0;
}

.animated-develop:after,
.develop-shadow {
  padding-left: 0.05em;
  padding-right: 0.05em;
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  position: relative;
  animation: animationFade-develop 8s ease infinite normal none running;
  animation-delay: 0s;
}

.animated-develop:after {
  height: 3px;
  width: 100px;
  z-index: 1;
}

.preview {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.preview:before {
  content: "Develop.";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animated-preview,
.preview:before {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.animated-preview {
  filter: contrast(1.2);
  position: relative;
  z-index: 1;
}

.animated-preview,
.preview-shadow {
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
  animation: animationFade-preview 8s ease infinite normal none running;
  animation-delay: 0s;
}

.preview-shadow {
  position: absolute;
  bottom: 50px;
  filter: blur(50px);
  height: 20px;
  width: 100%;
  z-index: 0;
}

.preview-shadow,
.ship {
  padding-left: 0.05em;
  padding-right: 0.05em;
  position: relative;
}

.ship {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ship:before {
  content: "Showcase.";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

@keyframes animationFade-preview {
  0%,
  to {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes animationFade-ship {
  0%,
  50%,
  to {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}

/* Media query to hide snowflakes on mobile devices */
@media only screen and (max-width: 768px) {
  .snowflakes {
    display: none !important;
  }
}
