.individualContestOuter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.individualContestOuter a {
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    fill: #fff;
}
.individualContestOuter a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
    fill: rgba(255, 255, 255, 0.50);;
}

.individualContestOuter a svg {
    fill: inherit;
    transform: rotate(-180deg);
    padding-left: 1%;
}

.card_Navigation{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 59%;
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    fill: #fff;
    font-weight: normal;
    text-transform: lowercase;
}
.card_nav_path h3{
    font-weight: normal;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    user-select: none;
}
.card_nav_path a{
    display: flex;
    align-items: center;
}
.card_nav_path svg{
    padding-left: 0 !important;
    transform: rotate(0) !important;
}
.ic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
    min-height: 36.5rem;
    width: 56.5rem;
    background: linear-gradient(45deg, #8D41AA 0%, #BA356C 34.38%, #F22C30 60.94%, #F8573A 79.69%, #FCBB57 100%);
    border-radius: 10px;    
}
.ic-child {
    display: flex;
    flex-direction: column;
    min-height: 33rem;
    width: 53rem;
    border-radius: 10px;
    background: #1e1e1e;
    padding:3%;
    justify-content: space-around;
}

.ic-child h2 {
    min-height: 4.37663rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Outfit;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    padding-bottom: 5%;
    margin-left: 0;
    text-align: center;
}
.ic-top {
    min-height: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.ic-top p{
    width: 17.30881rem;
    min-height: 3.64719rem;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.75);
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: lowercase;
}

.ic-lower-button {
    display: flex;
    justify-content: space-between;
    min-height: 33%;
    margin-bottom: 0;
}
.ic-inner-lower{
    align-self: center;
}
.ic-lower-button p {
    color: rgba(255, 255, 255, 0.75);
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
}

.ic-lower-button button{
    width: 24.375rem;
    min-height: 4.375rem;
    border-radius: 6.25rem;
    background: #161616;
    position: absolute;
    top: 2%;
    right: 1%;
    color: rgba(255, 255, 255, 0.75);
    font-family: Outfit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: lowercase;
    cursor: pointer;

}


.btn-div {
    display: flex;
    flex-direction: column;
    width: 25.010rem;
    height: 4.675rem;
    border-radius: 7.7rem;
    background: linear-gradient(45deg, #8D41AA 0%, #BA356C 34.38%, #F22C30 60.94%, #F8573A 79.69%, #FCBB57 100%);
    position: relative;
    margin-top:10px;

}

.outerbtn{
    display:flex;
    flex-direction:column-reverse;

}

.outerClipboard{
    height:100px;
}

@media (max-width: 376px) {
    .card_Navigation{
        width: 90%;
    }
    .card_Navigation a,
    .card_Navigation h3 {
        font-size: 15px;
    }
}
@media (min-width: 376px) and (max-width: 426px) {
    .card_Navigation{
        width: 90%;
    }
    .card_Navigation a,
    .card_Navigation h3 {
        font-size: 16px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .card_Navigation{
        width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .card_Navigation{
        width: 89%;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .card_Navigation{
        width: 63%;
    }
}

@media (max-width:768px) {
    *{
        margin:0px;
        padding:0px;
    }

    .ic{
        max-width:91vw;
    }

    .ic-top{
        /* height:24 */
        padding-right:1rem;

    }

    #startTime{
        margin-top:10px;
        /* width:; */

        font-size:1.4rem;
    }

    .ic-child{
        max-width:90vw;
        min-height: 36.2rem;
        font-size:1px;
    }

    #contest-title {
        font-size: 1.75rem; 
        max-width: inherit;
      }
    .btn-div{
        max-width:70vw;
        /* left:-1rem; */
        margin-bottom:10px;
        

    }
    .ic-lower-button{
        flex-direction:column-reverse;
        margin-left:10px;
        margin-bottom:10px;
        align-self:center;
       

    }

    .ic-lower-button button {
        width:99%;
        position:relative;
        left:1px;
    }
    .feedback{
        max-width: 90%;
        margin-top: 3% !important;
        margin-bottom: 3% !important;
    }
  
}

.feedback{
    margin: auto;
    width: fit-content;
    text-align: center;
    text-transform: lowercase;
}