.install-prompt {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 90%;
  max-width: 350px;
}

.install-prompt button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: fit-content;
}

.installPromptButtonsDiv {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .install-prompt {
    display: block;
    top: 10px;
    right: 10px;
    left: auto;
    bottom: auto;
    transform: none;
    flex-direction: row;
    padding: 10px 20px;
    width: auto;
    max-width: none;
  }

  .install-prompt button {
    font-size: 16px;
    width: auto;
    padding: 5px 15px;
  }

  .installPromptButtonsDiv {
    flex-direction: row;
    gap: 5%;
  }
}