.resend-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  row-gap: 2rem;
  padding: 0.5rem;
}
.resend-email-heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.resend-email-content{
    text-align: center;
}

@media screen and (min-width: 768px) {
  .resend-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    row-gap: 2rem;
    padding: 0;
  }
  .resend-email-heading {
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-start;
  }
  .resend-email-btn {
    align-self: flex-start;
  }
}
